@charset "utf-8";
#bgPaper{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: #eee;
}
#bgPaper form{
    width: 70%;
    height: 80%px;
    min-width: 800px;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#bgPaper form h2{
    text-align: center;
    padding: 20px 0;
    margin: 0 50px 20px;
    border-bottom: 1px  dashed #000;
    position: relative;
}
#bgPaper form h2 em{
    position: absolute;
    font: 16px/20px "";
    color: #0a0;
    right: 0;
    cursor: pointer;
}
#bgPaper form input{
    display: block;
    width: 30%;
    margin: 10px auto;
    height: 30px;
    text-indent: 5px;
}
#bgPaper form #btn{
    cursor: pointer;
    border: none;
    background: #f55;
}
#bgPaper form .yanzheng{
    display: flex;
    justify-content: center;
}
#bgPaper form .yanzheng input{
    margin: 10px 0;;
    padding: 0;
}
#bgPaper form .yanzheng input#num1{
    width: 25%;
}
#bgPaper form .yanzheng input#num{
    width: 5%;
}